body{
  margin:0 auto;
  overflow: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color:#354a;
  overflow:hidden;
}
li{
float:left;
}
li:nth-child(2){
float:right;
}

li a {
padding: 5px 5px;
  display: block;
  text-decoration:none;
  color:white;
  text-align:center;
font-family:monospace;
font-size:20px;
}
li:hover{
background-color:#4a4a4a;
transition:ease-out .5s;
}
.active{
background:#63f2b4;
color:black;
}ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #354a;
  overflow: hidden;
}
li {
  float: left;
}
li:nth-child(2) {
  float: right;
}

li a {
  padding: 5px 5px;
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}
li:hover {
  background-color: #4a4a4a;
  transition: ease-out 0.5s;
}
.active {
  background: #63f2b4;
  color: black;
}
.dp{
  position: absolute;
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTVUYfwMNWMvE44dKXs3I-moXbDN03gPDoDu5FIBivFpDmV8Ia');
  background-color:#35c2ac;
  border-radius:200px;
  box-shadow: 40px 45px 35px 0px #255a5a5a;
  width:150px;
  height:150px;
  top:35%;
  left:62%;
  transform:translate(-50%,-50%);
}
.container{
  position: absolute;
  background-color:#35c2ac;
  border-radius:10px 15px 5px 100px;
  box-shadow: 40px 45px 35px 0px #255a5a5a;
  width:350px;
  height:200px;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
p{
  padding:0px 25px;
  font-size:16px;
  text-align:left;
  font-family:monospace;
  color:whitesmoke;
}
p:nth-child(1){
  padding:0px 10px;
  font-size:20px;
  font-weight:600;
  font-family:monospace;
  color:whitesmoke;
}